body {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: #373A3C;
    background-color: #FFFFFF;
}
html {
    -webkit-box-sizing: inherit;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 300;
    -webkit-tap-highlight-color: transparent;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    min-height: 0px;
    min-width: 0px;
}
.grid {
    /*padding: 0 .5rem;*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.grid.-nowrap {
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
}
.grid.-top-to-bottom {
    flex-direction: column;
    -webkit-flex-direction: column;
}
.login {
    align-self: center;
    background-color: #fff;
    overflow-y: auto;
    width: 320px !important;
    padding: 0 !important;
    margin-left: auto;
    margin-right: auto;
}
.grid > .grid__column, .grid > .grid__row {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.login__header {
    background-color: #EBF2F9;
    margin-bottom: 1rem;
	height:40px;
}
.login__header > img {
    width: 78px;
    margin: .5rem 0 .5rem .5rem;
}
img, .img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}
.-left-aligned {
    float: left;
}
.login__main {
    padding-left: 1rem;
    padding-right: 1rem;
} 
.grid.-left-to-right {
    flex-direction: row;
}
.login__options {
    padding: 0;
    margin-bottom: 1rem;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.login__options > div, .login__newaccount {
    background-color: #004785;
    opacity: .4;
    cursor: pointer;
    height: 82px;
    width: 82px;
    color: #fff;
    padding-top: 62px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center .5rem;
    background-size: 56px;
    font-size: .9rem;
}
.options__email {
    background-image: url('./icons/Email_White.png');
}
.login__options > div.active:after {
    content: "";
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 15px solid #004785;
    margin-left: -54px;
    position: fixed;
    margin-top: 20px;
}
.options__facebook {
    background-image: url('./icons/Facebook_White.png');
}
.options__google {
    background-image: url('./icons/GoogleG.png');
}
.grid.-top-to-bottom {
    flex-direction: column;
    -webkit-flex-direction: column;
}
.login__form {
    padding: 0;
}
fieldset, .form-group {
    overflow: hidden;
    min-width: 0;
    max-width: 100%;
    padding: 0 .1rem;
    margin: 0;
    border: 0;
    margin-bottom: 1rem;
    align-items: center;
}
.content.-center-align {
    text-align: center;
}
.login__error {
    height: 2rem;
}
.-full-width {
    width: 100%;
}
input, select, textarea, .field {
    display: block;
    min-width: 125px;
    max-width: 100%;
    padding: .5rem;
    border: 1px solid #004785;
    color: #55595c;
    background-color: #FFFFFF;
    background-image: none;
    border-radius: .15rem;
}
.login__form > input {
    margin-right: .5rem;
    margin-left: .5rem;
    padding-bottom: .5rem;
    align-self: center;
    width: 100%;
}
.login__userfield,.login__passfield, .login__confirmpassfield {
    margin-top: 1rem;
}
.grid.-equal-spacing {
    justify-content: space-between;
}
.login__controls {
    height: 44px;
    padding: 0;
}
.grid__column.-shrink, .grid__row.-shrink {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}
.login__controls > fieldset {
    width: 100%;
    margin: .4rem .4rem .4rem 0;
}
.-radio, .-checkbox {
    position: relative;
}
.input-container {
    display: inline-flex;
}
.-radio label, .-radio .label, .-checkbox label, .-checkbox .label {
    display: inline;
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 0;
    font-weight: normal;
    text-align: left;
    cursor: pointer;
    padding-top: calc(.5rem + 2px);
    padding-bottom: calc(.5rem + 2px);
}
label, .label {
    text-align: right;
    display: inline-block;
    overflow: hidden;
    padding: .375rem .75rem;
    margin-bottom: 0;
} 
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
fieldset label > input[type="radio"], fieldset .label > input[type="radio"], .form-group label > input[type="radio"], .form-group .label > input[type="radio"], fieldset label > input[type="checkbox"], fieldset .label > input[type="checkbox"], .form-group label > input[type="checkbox"], .form-group .label > input[type="checkbox"] {
    display: inline;
    position: absolute;
    margin-top: .25rem;
    margin-left: -1.25rem;
    z-index: -1;
    opacity: 0;
}
.-checkbox input:checked ~ span {
    background-image: url("./icons/check-white.png");
}
.-checkbox input:checked ~ span, .-radio input:checked ~ span {
    color: #FFFFFF;
    background-color: #004785;
}
.-checkbox div > label > span, .-checkbox div > .label > span {
    border-radius: .25rem;
}
.-checkbox label > span, .-checkbox .label > span, .-radio label > span, .-radio .label > span {
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5rem;
    font-size: 70%;
    line-height: 1rem;
    border: 1px solid #004785;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center center;
    color: #FFFFFF;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-background-size: 70% 70%;
    background-size: 70% 70%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.grid.-left-to-right > .-four-xs-cols, .grid.-left-to-right > .grid__column.-four-xs, .grid.-left-to-right.-four-xs-columns > .grid__column, .grid.-top-to-bottom > .-four-xs-cols-wide, .grid.-top-to-bottom > .grid__row.-four-xs-columns-wide, .grid.-top-to-bottom.-four-xs-columns > .grid__row {
    width: 33.333333%;
}
.login__button {
    margin-right: 0;
}
button, .button {
    color: #FFFFFF;
    background-color: #004785;
    border: 1px solid #004785;
    border-radius: .125rem;
    display: inline-block;
    margin: 0.4rem;
    padding: 0 1rem;
    cursor: pointer;
    font: inherit;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    overflow: visible;
    vertical-align: middle;
    white-space: nowrap;
    zoom: 1;
    -webkit-appearance: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: background-color;
    transition-property: background-color;
}
.login__additionalcontrols {
    padding-bottom: .5rem;
    width: 100%;
}
.login__or {
    text-align: center;
    height: 3rem;
    padding-top: .6rem;
}
.login__options > div, .login__newaccount {
    background-color: #004785;
    opacity: .4;
    cursor: pointer;
    height: 82px;
    width: 82px;
    color: #fff;
    padding-top: 62px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center .5rem;
    background-size: 56px;
    font-size: .9rem;
}
.login__newaccount {
    background-image: url('./icons/Empty_Cloud_White.png');
    width: 100%;
}
.login__button {
    margin-right: 0;
}
.login__error {
    height: 2rem;
}
.login__error__msg {
    color: #e9322d;
    vertical-align: middle;
}
.gu-hide {
    display: none !important;
}
.login__links {
    padding: .5rem;
}
.grid__column.-resize, .grid__row.-resize {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.login__forgotpasslink, .login__legal {
    margin-top: 1rem;
    text-decoration: underline;
    font-size: 80%;
}
a {
    color: #004785;
}
.tertiary-color {
    color: #FFFFFF;
}
.primary-background {
    background-color: #004785;
}
.loginfooter__livestuff {
    font-size: 80%;
    text-align: center;
    height: 44px;
    padding-top: 4px;
}
b, strong {
    font-weight: bold;
}
.login__legal {
    text-align: right;
}
.login__options > .login__newaccount {
    width		: 100%;
    margin-top	: 1rem;
}
.login__options > div.login__newaccount:after {
    border-left  : 146px solid transparent;
    border-right : 146px solid transparent;
    margin-left  : -199px;	
} 
.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
    z-index: 105;
	background:#fff;
}
.grid.-middle-aligned {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.modal > section {
    background-color: #FFFFFF;
    pointer-events: auto;
    outline: 0;
    z-index: 101;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
button.-close, .button.-close {
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #FFFFFF;
    opacity: .2;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}
.modal > section > .modal__body {
    padding: 1rem;
    max-height: 475px;
    max-width: 100%;
}
h1, .h1 {
    font-size: 2.5rem;
}
h5, .h5 {
    font-size: 1.25rem;
}
button.-close:after, .button.-close:after {
    position: relative;
    content: "\d7";
    font-weight: bold;
}
.modal > section > header {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-bottom: 1px solid #004785;
}
.inlineBlockUIOverlay {	z-index: 1000;	border: none;   padding: 0;   margin: 0;   width: 100%;   height: 100%;   top: 0px;   left: 0px;   background-color: #000;   opacity: 0.6;   cursor: wait;   position:absolute;}
.inlineBlockUIMsg {z-index: 1011; 	position: absolute;	padding: 0px;	margin: 0px;left: 48%;	 height:100%; 	color: #FFFFFF;	cursor: wait;	border-radius: 10px;	opacity: 0.65; top:48%;}
.inlineGif {max-width:100%; max-height:100%;padding:0;width:40px;}

/*VV: 06032016: Cog Options Css*/
.right {float:right;}
.left {float:left;}
#showVersionDetail {margin-right:5px; line-height:25px;font-size:14px; font-weight:bold; position:relative; z-index:9; color:#004585;  }
.cogparent {position:relative;}
#closepopup img, .cogimage img {max-width:16px;}
.cogoptions { position:absolute; width:190px; height:auto; right:3px; top:25px; z-index:30; padding:3px; border:solid 1px #2A68A2; background:#FFF; display:none;}
.cogoptions .arrow {top:-9px; right:0; left:inherit; border-color:rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFFFFF;}
.version_container {position:relative;}
.version_container .other_versions {position:absolute; z-index:5; background: #FFF; display:none; border:solid 1px #2A68A2; left:-4px; padding:3px; width:190px; }
.versdetail {margin:0.5rem;}